@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<head>

</head>
<body sstyle="color:white;">
    <h1>View Financial Statements</h1>
    @Html.ActionLink("Income Statement", "IncomeStat")<br/>
    @Html.ActionLink("ExpenseReport", "ExpenseRep")<br/>
    @Html.ActionLink("Net Summary", "NetSummary")
</body>
