@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

    <h1 class="EveryHeader"><strong>Such Trans Logistics</strong></h1>

    @Html.AntiForgeryToken()
    <table class="AdminHomeTable">
        <tr>
            <td><a class="CircleA" href="~/Admin/AllEmployees"><div class="AdminCircle">All Employees</div></a></td>
            <td><a class="CircleA" href="~/Admin/AllDeliveries"><div class="AdminCircle">All Deliveries</div></a></td>
            <td><a class="CircleA" href="~/Admin/JobQueue"><div class="AdminCircle">Job Queue</div></a></td>
            <td><a class="CircleA" href="~/Finances/Index"><div class="AdminCircle">Finances</div></a></td>
        </tr>
    </table>
