@{ Layout = "~/Views/Finances/_FinanceLayout.cshtml"; }
<head>

</head>
<body>
    <h1>First Chart</h1>
    <hr/>
    <img src="@Url.Action("IncomeBarGraph")" alt="Chart Unavaliable"/><br/>
    <img src="@Url.Action("ExpenseBarGraph")" alt="Chart Unavaliable"/>
</body>