@{ 
    Layout = "~/Views/Finances/_FinanceLayout.cshtml";
}
<div>
    <table class="FinanceTable">
        <tr>
            <td>
                <a class="FinanceLink" href="@Url.Action("IncomeStat","Finances")"><h4>Income</h4></a>
            </td>
            <td>
                <a class="FinanceLink" href="@Url.Action("ExpReport","Finances")"><h4>Expense</h4></a>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a class="FinanceLink" href="@Url.Action("FinanSumm","Finances")"><h4>Net (All)</h4></a>
            </td>
        </tr>
    </table>
</div>


